<div class="welcome-box">
    <h1 class = "welcome-banner">&ldquo;I try to prevent my code from causing malignant explosions&rdquo;</h1> <hr class="divider">

    <a href="/resume/" class="btn btn-primary def-button">I'm Carlo<a>
</div>
