  <h1 class="welcome-banner"> Resume Page Under Construction </h1>
  <hr class="divider">

<div class="resume-content container">
  <h2 class="header-text"> Technical Expertise </h2>
  <hr class="divider2">
  <p class="resume-text"> 
 Lorem ipsum dolor sit amet, veri labores vix id, lucilius splendide cotidieque eos no. Ut saperet appellantur duo, no elitr soluta contentiones eos. Est diceret persequeris in. Eu sea adhuc lorem. An persius consulatu nec, ius dicat numquam dolores te. Eam feugiat maiorum id.Partem delicata pro id. Dicant epicurei ea pri. Vim eu error ponderum. Nibh debitis dissentiet eu nam, mel ne graecis instructior. Debet mediocrem et mel. Est impetus euripidis aliquando ad, quo an quod bonorum patrioque, cu labore legimus expetenda duo.
  </p> 

</div>



<ul class="cards container">

  <li>
    <h2 class="header-text"> Programming Languages </h2>
    <hr class="divider2">

  </li>

  <li>
    <h2 class="header-text"> Education </h2>
    <hr class="divider2">

  </li>

  <li>
    <h2 class="header-text"> Projects and Headships </h2>
    <hr class="divider2">

  </li>

  <li>
    <h2 class="header-text">Organizations </h2>
    <hr class="divider2">


  </li>

  <li>
    hello
  </li>

  <li>
    hello
  </li> 

  <li>
    hello 
  </li>

  <li>
    hello
  </li>

  <li>
    hello
  </li> 

</ul>
