/*
*=require_tree .
*=require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color:#252839;
}
li{
  padding:20px;
  font-size:1.5em;
}
#my-nav{
  background-color:transparent;
  border:none;
}
.nav-link{
  color:white;
}
.nav.navbar-nav.navbar-right li a{
  color:white;
}
.nav.navbar-nav.navbar-right li a:hover{
  color:#f2b632;
}
.navbar-default .navbar-brand {
  color:white;
  
}
.navbar-default .navbar-brand:hover{
  color:#f2b632;
}
.brand a{
  font-family:"Roboto";
  font-size:25px;
  color:white;
}
.navbar{
  padding:20px;
}
.welcome-banner {
  font-family:"Roboto";
  text-align:center;
  display:block;
  margin-top: 15%;
  margin-bottom:25px;
  color:white;
}
hr{
  border-color:#f2b632;
}
.divider{
  width:500px;
}

.def-button{
  font-family:"Open Sans";
  font-size:1.4em;
  background-color:#b5b5b7; 
  padding:20px;
  width:200px;
  border:none;
  display:block;
  margin:0 auto;
  border-radius:50px;
}
.def-button:hover{
  background-color:#f2b632; 
}
.resume-content{
  margin:100px;
  background-color:#677077;
  font-family:"Roboto";
  color:white;
  padding:50px;
  
}

.header-text{
  font-family:"Roboto";
}
.resume-text{
  font-family:"Open Sans";
}
